@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
  position: relative;
  height: 100%;
}

.layout{
  height : 100vh;
  background-image: linear-gradient(to bottom, white, #dbeafe, white);
}

.layout-lines-cont{
  max-width: 1000px;
  margin: 0 auto;
  inset: 0;
  position: absolute;
  height: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}

.links{
  display: flex;
  gap: 22px;
  align-items: center;
}

.logo{
  font-size: 22px;
}

.link-items{
  font-size: 14px;
  text-decoration: none;
  color: #1e293b;
  font-weight: 500;
}

.link-items:hover{
  color: #6b7280;
  transition: color 0.3s ease-in-out;
}

.btn{
  all : unset;
  padding: 10px 16px;
  border-radius: 7px;
  background-color: #2579f3;
  color: white;
  font-size: 14px;
  text-shadow: 0px 0.5px 1px rgba(0,0,0,0.25);
  cursor: pointer;
}

.badge{
  font-size: 13px;
  font-weight: 500;
  max-width: 300px;
  border-radius: 50px;
  background-color: #edf2f6;
  padding: 6px 12px;
  width: fit-content;
  margin: 0 auto;
  border: 0.5px solid #cbd5e1;
}

.hero-root{
  padding-top: 70px;
}

.hero-title{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  color: #0f172a;
  line-height: 1;
  margin-top: 50px;
  letter-spacing: -0.2px;
}

.subtitle{
  max-width: 500px;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 16px;
  color: #595959;
}

.hero-cta{
  margin-top: 40px;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.btn-sec{
  all : unset;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:hover{
    background-color: #e5e7eb;
    border-radius: 7px;
  }
}

.left-line{
  height: 100%;
  width: 0.5px;
  background-color: #d5e3f2;

  position: absolute;
  left: -10px;
}

.right-line{
  height: 100%;
  width: 0.5px;
  background-color: #d5e3f2;

  position: absolute;
  right: -10px;
}

.hero-img-cont{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-img{
  width: 900px;
  height: 500px;
  margin: 0 auto;
  border: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: top-left;
}

.horizontal-line{
  height: 2px;
  width: 100%;
  background: #edf2f6;
  position: absolute;
  top: -10px;
}